<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='cload.jpg')}}" type="image/jpg" sizes="16x16">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		

		{%if title %}
		<title> Cloud-Box - {{ title }}</title>
		{% else %}
		<title> Cloud-Box </title>
		{% endif%}

	</head>



<body>

				<div class="container">
					<header class="navbar">
					

				      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				        <div class="container">
				          <a class="navbar-brand mr-4" href="/">Cloud Box</a>
				          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				            <span class="navbar-toggler-icon"></span>
				          </button>
				          <div class="collapse navbar-collapse" id="navbarToggle">
				            <div class="navbar-nav mr-auto">
				              <a class="nav-item nav-link" href="/">Home</a>
				              <a class="nav-item nav-link" href="/about">About</a>
				            </div>
				          </div>
				        </div>
				      </nav>

					
				    </header>
				</div>
	
	
	<div class="container" style=" height: 4em">
		




	</div>

			
			<div class="container">
			<form method="GET">
				<div class="btn-group dropright">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Location
					  </button>
					  <div class="dropdown-menu" >
					  	{% for location in locations %}
					    <a class="dropdown-item" name = "{{location}}" value="{{ location }}" href="{{url_for('home_loc',location = location )}}">{{ location }}</a>
					    {% endfor %}
					  </div>

				</div>
			</form>
			</div>

	<div style="height: 30px" >
		
	</div>
	
	
	<div style= "height: 40px"></div>
	
		<div class="container">
			<form method="GET">
				<div class="btn-group dropright">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Purpose
					  </button>
					  <div class="dropdown-menu" >
					  	{% for purpose in purposes %}
					    <a class="dropdown-item" name = "{{purpose}}" value="{{ purpose }}" href="{{url_for('location_purpose',location = message, purpose= purpose )}}">{{ purpose }}</a>
					    
					    {% endfor %}
					  </div>

				</div>
			</form>
		</div>


<div style= "height: 70px"> </div>	


	<div class="container">
		<div class="d-inline-block">
			<form method="GET" >
				<div class="btn-group dropdown">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "cpu">
					    Select vCPU
					  </button>
					  	<div class="dropdown-menu" >
					  	{% for cpu in cpu_list %}

					<a class="dropdown-item" name = "{{cpu}}" value="{{ cpu }}" href="{{url_for('location_purpose_cpu',location = message, purpose = message_purpose, cpu = cpu )}}">
					{{cpu}}</a>
					  		
					    
					    {% endfor %}
					  </div>

				</div>
			</form>
			</div>
		

			<div class="d-inline-block">
			<form method="GET" >
				<div class="btn-group dropdown">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "cpu">
					    Select Memory
					  </button>
					  	<div class="dropdown-menu" >
					  	{% for mem in mem_list %}
							<a class="dropdown-item" name = "{{cpu}}" value="{{ cpu }}" href="{{url_for('location_purpose_cpu_mem',location = message,purpose = message_purpose,cpu= message_cpu, mem = mem )}}">{{ mem }}</a>
					    
					    {% endfor %}
					  </div>

				</div>
			</form>
			</div>

			
	</div>
<div style="height: 40px "></div>

	<div class="container">

	<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TypeVm</th>
      <th scope="col">Purpose</th>
      <th scope="col">CPU</th>
      <th scope="col">MEM</th>
      <th scope="col">OnDemandPrice</th>
      <th scope="col">Provider</th>
    </tr>
  </thead>
  <tbody>
  	{% if results %}

	{% for result in results %}
    <tr>
    		
		
			<th scope="row"></th>
			<td>{{result['type']}}</td>
      		<td>{{result['purpose']}}</td>
      		<td>{{result['cpusPerVm']}}</td>
      		<td>{{result['memPerVm']}}</td>
      		<td>{{result['onDemandPrice']}}</td>
      		<td>{{result['provider']}}</td>

		
		
      
    </tr>
    	{% endfor %}
		{% endif %}
  </tbody>
</table>
</div>








	</div>
	</div>


</div>


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>

